body
{
    background-color: rgba(0, 0, 128, 0.877);
}
h1{
    text-align: center;
    color: white;
}
.level
{
    text-align: center;
    padding-bottom: 20px;
}
.container,.container2
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.color
{
    padding : 25px;
    height: 60px;
    width: 60px;
    border: 3px solid black;
    margin: 10px;
    border-radius: 10px;
}
.red
{
    background-color: red;
    color: red;
}
.blue
{
    background-color: blue;
    color: blue;
}
.green
{
    background-color: green;
    color: green;
}
.yellow
{
    background-color: yellow;
    color: yellow;
}